.page.theme_dark {
  --bg-color: #000028;
  --decor-color: #ff0070;
  --caption-color: #db00ff;
  --caption-shadow-color: #ff0070;
  --accent-bg-color: #ff0070;
  --accent-text-color: #000028;
  --title-text-color: #ff0070;
  --primary-color: #f1b2ce;

  background-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --decor-color: #ff0070;
    --caption-color: #db00ff;
    --caption-shadow-color: #ff0070;
    --accent-bg-color: #ff0070;
    --accent-text-color: #000028;
    --title-text-color: #ff0070;
    --primary-color: #f1b2ce;
  }

  .page {
    background-image: url("../images/cover-image-dark.png");
  }
}
