.page.theme_light {
  --bg-color: #fff1f7;
  --decor-color: #353430;
  --decor-color-40: #35343066;
  --caption-color: #ffc2e6;
  --caption-shadow-color: #ff0070;
  --accent-bg-color: #ff8dcb;
  --accent-text-color: #353430;
  --title-text-color: #353430;
  --primary-color: #353430;

  background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --decor-color: #353430;
    --decor-color-40: #35343066;
    --caption-color: #ffc2e6;
    --caption-shadow-color: #ff0070;
    --accent-bg-color: #ff8dcb;
    --accent-text-color: #353430;
    --title-text-color: #353430;
    --primary-color: #353430;
  }

  .page {
    background-image: url("../images/cover-image-light.png");
  }

  .theme_auto .header__rec-dot {
    display: none;
  }
}
