*,
*::before,
*::after {
  /* outline: 1px dotted pink; */
}

html {
  font-family: "IBM Plex mono", Helvetica, Arial, sans-serif;
}

.page {
  position: relative;
  background-color: var(--bg-color);
  color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.full-block {
  display: grid;
  padding: var(--base-padding);
  block-size: 100vh;
}

.caption {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.821;
  color: var(--caption-color);
}

.caption_header {
  text-shadow: 4px 4px 0 var(--caption-shadow-color);
}

.caption_footer {
  text-shadow: 2px 2px 0 var(--caption-shadow-color);
}

@media (width >= 768px) {
  .caption {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .caption_header {
    position: relative;
    inset-inline-start: calc(var(--base-padding) * (-1));
  }
}

.bordered {
  position: relative;
}

.bordered::before {
  content: "";
  position: absolute;
  inset-inline-end: var(--gap-unit);
  inset-block-start: var(--gap-unit);
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.bordered::after {
  content: "";
  position: absolute;
  inset-inline-start: var(--gap-unit);
  inset-block-end: var(--gap-unit);
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

@media (width >= 768px) {
  .bordered::before {
    inset-inline-end: calc(var(--gap-unit) * 2);
    inset-block-start: calc(var(--gap-unit) * 2);
  }

  .bordered::after {
    inset-inline-start: calc(var(--gap-unit) * 2);
    inset-block-end: calc(var(--gap-unit) * 2);
  }
}

.title-decor {
  background-color: var(--accent-bg-color);
  color: var(--accent-text-color);
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:hover {
  box-shadow: var(--primary-color) 0 1px;
}

.text-link:focus-visible {
  outline: 1px solid var(--primary-color);
  outline-offset: -1px;
}

/* ~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~ */

.header {
  position: relative;
  grid-template-rows: 1fr auto 1fr;
  margin-block-end: calc(var(--gap-unit) * 4);
}

.header__rec-dot {
  position: absolute;
  display: flex;
  inset-inline-end: calc(var(--gap-unit));
  inset-block-start: calc(var(--gap-unit));
  align-items: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--decor-color);
}

.header__rec-dot > span {
  display: block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline: calc(var(--gap-unit) + 1px) var(--gap-unit);
  background-color: var(--decor-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.theme_light .header__rec-dot {
  display: none;
}

@media (prefers-color-scheme: light) {
  .theme_auto .header__rec-dot {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .header__rec-dot {
    display: flex;
  }
}

.header__theme-menu {
  place-self: center end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background: none;
  border: none;
  padding-inline: 12px;
  padding-block-end: 5%;
  font-size: var(--base-font-size);
  text-transform: lowercase;
  line-height: 1;
  color: var(--decor-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decor-color);
}

.header__theme-menu-button_active,
.header__theme-menu-button_active:hover {
  border: 1px solid var(--decor-color);
  cursor: default;
}

.header__theme-menu-button:not(
    .header__theme-menu-button_active
  ):focus-visible {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.header__title {
  font-weight: 700;
  max-inline-size: 355px;
  place-self: center end;
  font-size: var(--base-font-size);
  line-height: 1.3;
}

@media (width < 768px) {
  .header__title {
    max-inline-size: 364px;
  }
}

@media (width >= 768px) {
  .header {
    margin-block-end: calc(var(--base-padding) * 3);
  }

  .header__rec-dot {
    inset-inline-end: calc(var(--gap-unit) * 2 - 1px);
    inset-block-start: calc(var(--gap-unit) * 2 - 1px);
  }

  .header__title {
    min-inline-size: 364px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    place-self: start center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    min-inline-size: 491px;
  }
}

/* ~~~~~~~~~~~~~~~~~ main ~~~~~~~~~~~~~~~~ */

.main {
  display: grid;
  gap: calc(var(--base-padding) * 5);
  padding-inline: var(--base-padding);
  margin-block-end: calc(var(--base-padding) * 4);
}

@media (width >= 768px) {
  .main {
    gap: calc(var(--base-padding) * 4);
    margin-block-end: calc(var(--base-padding) * 3);
  }
}

/* ~~~~~~~~~~~~~~~~~ case ~~~~~~~~~~~~~~~~ */

.case {
  display: grid;
}

.case_1,
.case_2,
.case_3,
.case_4 {
  justify-content: center;
}

.case_1,
.case_2,
.case_3 {
  gap: calc(var(--gap-unit) * 2);
}

.case_4 {
  gap: 0;
}

.case_4 .case__inner-item {
  line-height: 0;
}

.case__title {
  font-size: var(--base-font-size);
  font-weight: 700;
  color: var(--title-text-color);
  line-height: 1.3;
}

.case_1 .case__list,
.case_2 .case__list {
  display: grid;
  gap: calc(var(--gap-unit) * 2);
}

.case__item-title {
  margin-block-end: var(--gap-unit);
}

.case__item-title,
.case__inner-title {
  font-size: var(--base-font-size);
  font-weight: 700;
  line-height: 1.3;
}

.case__item_with-inner-list .case__item-title {
  margin-block-end: calc(var(--gap-unit) * 2);
}

.case__item-content {
  font-size: var(--base-font-size);
  line-height: 1.3;
}

.case__inner-list {
  display: grid;
  gap: calc(var(--gap-unit) * 2);
}

.case__inner-title {
  margin-block-end: calc(var(--gap-unit) * 2);
}

.case_4 .case__inner-list {
  gap: var(--gap-unit);
}

.case_4 .case__inner-title {
  margin-block-end: var(--gap-unit);
}

.case__inner-item-title {
  font-size: var(--base-font-size);
  font-weight: 400;
  margin-block-end: var(--gap-unit);
}

.case__inner-item-content {
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.3015;
}

.case__inner-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 768px) {
  .case_1 {
    grid-template-columns: 1fr 2fr;
  }

  .case_2 .case__title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--base-padding);
  }

  .case_2 .case__list {
    display: grid;
  }

  .case_3 {
    grid-template-columns: 1fr 2fr;
  }

  .case_3 .case__title {
    grid-column: 1;
  }

  .case_3 .case__item-title,
  .case_3 .case__inner-list {
    grid-column: 2 / 3;
    grid-row: span 2;
    align-self: start;
  }

  .case_4 .case__inner-list {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: calc(var(--gap-unit) * 2);
  }

  .case_4 .case__inner-title {
    margin-block-end: calc(var(--gap-unit) * 2);
  }

  .case_4 .case__inner-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .case_4 .case__inner-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .case_4 .case__inner-item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .case_4 .case__inner-item:nth-child(4) {
    grid-column: 2;
  }

  .case_4 .case__inner-item:nth-child(5) {
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {
  .case_1 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .case_1 .case__list {
    grid-column: 2 / 4;
  }

  .case_2 .case__title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .case_2 .case__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--base-padding);
  }

  .case_3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .case_3 .case__inner {
    grid-column: 2 / 4;
  }

  .case_4 .case__inner-item:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .case_4 .case__inner-item:nth-child(5) .case__inner-image {
    block-size: calc(100% - 5px);
  }
}

/* ~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~ */

.footer {
  align-items: center;
  justify-content: center;
}

.footer__caption {
  align-self: center;
}
