*,
*::before,
*::after {
  /* outline: 1px dotted pink; */
}

html {
  font-family: "IBM Plex mono", Helvetica, Arial, sans-serif;
}

.full-block {
  display: grid;
  padding: var(--padding-unit);
  block-size: 100vh;
}

.caption {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* 116 - 120 px */
  font-weight: 700;
  line-height: 82.5%;
  color: var(--alt-color);
}

.caption_header {
  text-shadow: 4px 4px 0px var(--accent-color);
}

.caption_footer {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.bordered {
  position: relative;
}

.bordered::before {
  content: "";
  position: absolute;
  inset-inline-end: var(--padding-unit);
  inset-block-start: var(--padding-unit);
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.bordered::after {
  content: "";
  position: absolute;
  inset-inline-start: var(--padding-unit);
  inset-block-end: var(--padding-unit);
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.page {
  background-color: var(--bg-color);
  color: var(--color);
}

.header {
  position: relative;
  grid-template-rows: 1fr auto 1fr;
  border: 1px solid transparent;
  margin-block-end: 40px;
}

.header__rec-dot {
  position: absolute;
  inset-inline-end: 9px;
  inset-block-start: 9px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  line-height: 150%;
}

.header__rec-dot > span {
  display: block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 11px;
  margin-inline-end: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  background: none;
  border: none;
  padding-inline: 13px;
  font-size: var(--base-font-size);
  text-transform: lowercase;
  line-height: 100%;
  padding-block-end: 10px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: var(--base-font-size);
  font-weight: 700;
  align-self: center;
  justify-self: end;
  max-inline-size: 355px;
}

.main {
  display: grid;
  gap: 50px;
  padding-inline: var(--padding-unit);
  margin-block-end: 40px;
}

.case {
  display: grid;
  grid: auto / minmax(355px, 80%);
  justify-content: center;
  gap: 20px;
}

.case_image-list {
  gap: 0;
}

.case_image-list .case__inner-item {
  line-height: 0;
}

.case__title {
  font-size: var(--base-font-size);
  font-weight: 700;
  color: var(--accent-color);
}

.case__item-title {
  font-size: var(--base-font-size);
  font-weight: 700;
  margin-block-end: 10px;
  line-height: 132%;
}

.case__item_with-inner-list .case__item-title {
  margin-block-end: 20px;
}

.case__item-content {
  font-size: var(--base-font-size);
  line-height: 130%;
}

.case__list {
  display: grid;
  gap: 20px;
}

.case__list_widen {
  gap: 50px;
}

.case__inner-list {
  display: grid;
  gap: 20px;
}

.case__inner-list_narrowed {
  gap: 10px;
}

.case__inner-item-title {
  font-size: var(--base-font-size);
  font-weight: 400;
  margin-block-end: 10px;
}

.case__inner-item-content {
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 130%;
}

.case__inner-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.footer {
  align-items: center;
}

.footer__caption {
  align-self: center;
}
