*,
*::before,
*::after {
  outline: 1px dotted pink;
}

html {
  font-family: "IBM Plex mono", Helvetica, Arial, sans-serif;
}

.page {
  background-color: var(--bg-color);
  color: var(--color);
  padding-block: 10px;
}

.header {
  display: grid;
  grid-template-rows: minmax(228px, 1fr) auto minmax(228px, 1fr);
  padding-inline: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  padding-inline: 13px;
  line-height: 130%;
}

.header__caption {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* 116 - 120 px */
  font-weight: 700;
  line-height: 82.5%;
}

.header__title {
  font-size: 1em;
  font-weight: 700;
  align-self: center;
  line-height: 150%;
  justify-self: end;
  max-inline-size: 355px;
}
